/* Body background styles */

body {
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f2f6f9;
  background-size: contain;

  @include media(">=tablets") {
    background-image: url(../img/bg/cb_bg_1600w.png);
  }
  @include media("<=tablets") {
    background-image: url(../img/bg/cb_bg_1366w.png);
  }
  @include media("<=desktop-old") {
    background-image: url(../img/bg/cb_bg_1024w.png);
  }
  @include media("<=phones-2x") {
    background-image: url(../img/bg/cb_bg_768w.png);
  }
  @include media("<=phones") {
    background-image: url(../img/bg/cb_bg_640w.png);
  }
}

.wrapper {
  display: grid;

  grid-template-rows: [searchbar] auto [content] auto [rows-end];
  grid-template-columns: [sidebar] 21% [content] 79% [cols-end];

  .nav-sidebar {
    grid-row: searchbar / rows-end;
    grid-column: sidebar;
  }

  .search-bar {
    grid-row: searchbar / content;
    grid-column: content;
  }

  main {
    grid-row: content / rows-end;
    grid-column: content;
    padding-right: 112px;

    > header {
      margin-bottom: 45px;
    }
  }
}

