.site-header {
  display: grid;

  grid-template-rows: auto;
  grid-template-columns: [brand] 50% [nav] 40% [rest] 10% [end];

  .site-branding {
    padding: 25px 0 86px 40px;
    grid-column: brand;

    a {
      display: block;
      text-decoration: none;
      line-height: 0;
    }
  }

  .primary-nav {
    grid-column: nav;
    padding: 47px 3px 0;
    text-align: right;

    a {
      text-decoration: none;
      margin-right: 18px;
    }

    /* TODO: add a shadow to the profile icon. */
  }
}
