
@font-face {
  font-family: 'Galano Grotesque';
  src: url('../fonts/Galano Grotesque.woff') format('woff');
  font-weight: 400; /* normal */
}
@font-face {
  font-family: 'Galano Grotesque';
  src: url('../fonts/Galano Grotesque Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Galano Grotesque';
  src: url('../fonts/Galano Grotesque Semi Bold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Galano Grotesque';
  src: url('../fonts/Galano Grotesque Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Galano Grotesque';
  src: url('../fonts/Galano Grotesque Extra Bold.woff') format('woff');
  font-weight: 800;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(.9375);
	line-height: $font__line-height-body;
  letter-spacing: .02em;
}

@import "headings";

@import "copy";

@import "footer";
