$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__background-site-info: #1e1e1e;
$color__background-footer-widgets: #1e1e1e;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__links_link: rgba(61, 61, 61, 0.80);
$color__links_link_hover: rgba(61, 61, 61, 0.69);
$color__links_link_current: #505050;

$color__text-links_link: #fff;
$color__text-links_link_hover: #b4b4b4;

$color__text-secondary: #b4b4b4;

/* The text of the color for main paragraphs and other copy. */
$color__text-main: #616161;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
