
.secondary-nav {
  padding: 0 55px 1em 105px;
  
  a {
    display: flex;
    align-items: center;

    border-radius: 1.1em;

    color: #d6f0f2;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;

    margin: 0 0 .75em;
    padding: 0em .55em .3em .65em;

    text-decoration: none;

    img {
      display: inline-block;
      margin-top: 3px;
      margin-right: 9px;
    }
  }

  a:hover, a.active {
    background-color: #67c7ce;
    color: #fff;
  }
}
