/* The styles for a single Idea page. */

.idea-details {

  .content-box {
    margin-bottom: 4em;
  }

  .idea-info {
    display: grid;

    grid-gap: 0;

    grid-template-rows: auto;
    grid-template-columns: [image] 50% [content] 50% [cols-end];

    @include media("<=phones") { /* <=640 */
      grid-template-columns: [content] 1fr [cols-end];
    }

    padding: 0;

    img {
      grid-column: image;
      @include media("<=phones") { /* <=640 */
        grid-column: content;
      }
    }

    .description {
      grid-column: content;

      padding: 2em;

      .tag {
        background-color: #f2f2f2;
        color: #9a9a9a;
        font-size: 1em;
        font-weight: 600;
        padding: 0px 14px 4px;
        border-radius: 10px;
      }

      h2 {
        color: #000;
        font-size: 1.8em;
        font-weight: 600;
        line-height: 1.2em;
        margin: 1.4em 1.5em 1.4em 0;
      }

      p {
        color: #949494;
        font-size: 1.1em;
        font-weight: normal;
      }
    }
  }

  .teams-committed {
    background-color: #1d1d1d;

    padding: 2.5em;
    @include media("<=desktop") { /* <=1366 */
      padding: 2em;
    }

    h3 {
      color: #717171;
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .heading-underline {
      background-color: #565656;
      width: 55px;
      height: 1px;
      margin-left: 2px;
      margin-bottom: 1em;
    }

    .committed-teams-list {
      
      display: grid;

      grid-gap: 2.5em;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      @include media("<=desktop") { /* <=1366 */
        grid-gap: 1.5em;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }

      padding: 1em 0;
    }
    
    .team-info {
      display: grid;
      align-items: center;

      grid-gap: 1em;
      grid-template-columns: 1fr 2fr;

      img {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }

      .details {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }

      h4 {
        color: #fff;
        margin: 0 0 3px;
      }

      span {
        color: #717171;
      }
    }
  }

  .idea-status {
    display: grid;

    grid-gap: 1em;
    grid-template-columns: .9fr 1.2fr .7fr .8fr .8fr;

    padding: 1em 0;
    margin-bottom: 3em;

    @include media("<=desktop") { /* <=1366 */
      grid-gap: .5em;
    }
    @include media("<=phones") { /* <=640 */
      grid-template-columns: 1fr;
      padding: 1.5em;
    }

    .left-pad {
      padding-left: 1.5em;
      @include media("<=desktop") { /* <=1366 */
        padding-left: .5em;
      }
      @include media("<=phones") { /* <=640 */
        padding-left: 0;
      }
    }

    .status-item {
      display: grid;
      grid-gap: .5em;
      grid-template-rows: auto auto;
      grid-template-columns: 50px 1fr;

      @include media("<=desktop") { /* <=1366 */
        grid-template-columns: 30px 1fr;
      }
      @include media("<=phones") { /* <=640 */
        grid-template-columns: 50px 1fr;
        margin: 1em 0;
      }

      img {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        align-self: center;
      }

      label {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        color: #b2b5b7;

        font-size: 1.1em;
        font-weight: 600;
        line-height: 1;
      }

      span {
        grid-row: 2 / 3;
        grid-column: 2 / 3;

        display: inline-block;

        font-size: 1.6em;
        font-weight: 600;
        line-height: 1;
      }
    }

    .right-border {
      border-right: 1px solid #c2c5c7;
      @include media("<=phones") { /* <=640 */
        border: none;
      }
    }

    .status-submitted {
      color: #60c37c;
    }

    .community-value {
      color: #5aa7d7;
    }

    .pledgers-count {
      color: #6a60c3;
    }

    .funded-value {
      color: #60c3a4;
    }

    .action-view-github {
      align-self: center;
      display: block;

      text-align: center;
      border: 2px solid #52bda1;
      border-radius: 1.6em;
      color: #52bda1;
      font-size: 1.1em;
      font-weight: 600;
      padding: .5em 2em .75em;

      @include media("<=desktop") { /* <=1366 */
        padding: .5em .5em .5em;
      }
      @include media("<=phones") { /* <=640 */
        padding: .5em .5em 1em .5em;
      }
    }


  } /* .idea-status */

  .time-line {

    h3 {
      color: #b2b5b7;
      font-size: 1.2em;
      font-weight: 600;
    }

    .time-line-calendar {
      display: flex;
      margin: 0;
      padding: 2em 0;
      position: relative;

      width: 100%;
      z-index: 0;

      .background-line {

        background-color: #60c37c;

        position: absolute;
        top: 48%;
        left: 0;
        right: 0;
        height: 4px;

        z-index: 1;
      }

      .events-list {
        background: rgba(204, 204, 204, 0.2);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        z-index: 2;
      }

      .event {
        border-radius: 15px;
        box-shadow: 0 0 12px 0 rgba(200, 215, 232, 0.9);
        color: #fff;
        display: inline-block;

        margin-left: 100px;


        height: 30px;
        width: 30px;
      }

      .active {
        background-color: #60c37c;
      }
    }
  }

  .idea-content {
    display: grid;

    grid-gap: 0;

    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    @include media("<=phones-2x") { /* <=768 */
      grid-template-columns: 1fr;
    }

    margin-top: 2em;

    .tabs {
      grid-row: 1 / 2;
      grid-column: 1 / 2;

      background-color: #fff;

      ul.tabs-list {
        box-shadow: 0 4px 6px 0 rgba(200, 215, 232, 0.5);
        margin: 0;
        padding: 0;
        
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
        list-style: none;

        li {
          text-align: center;
          padding: 1.5em 0 1.5em;

          @include media("<=phones") { /* <=640 */
            padding: 1em 0;
          }

          a {
            color: #b2b2b2;
            font-size: 1.2em;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
            @include media("<=phones") { /* <=640 */
              text-transform: none;
            }
          }
        }

        li.active {
          box-shadow: 4px 0 6px 0 rgba(200, 215, 232, 0.5);
          box-shadow: -4px 0 6px 0 rgba(200, 215, 232, 0.5);

          a {
            color: #44c1ca;
          }
        }
      }
    }

    .content-section {
      display: grid;

      grid-gap: 0 1em;

      grid-template-rows: auto;
      grid-template-columns: 1fr 1.2fr;

      background-color: #fff;
      padding: 2em 2em 1em;

      @include media("<=phones-2x") { /* <=768 */
        grid-template-columns: auto;
      }

      h3 {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        @include media("<=phones-2x") { /* <=768 */
          grid-column: 1 / 2;
        }

        font-size: 1.2em;
        font-weight: 600;
      }

      .heading-underline {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        @include media("<=phones-2x") { /* <=768 */
          grid-column: 1 / 2;
        }

        background-color: #89d8de;
        width: 35px;
        height: 4px;
        margin: 8px 0 1em 0;
      }

      img {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        @include media("<=phones-2x") { /* <=768 */
          grid-column: 1 / 2;
        }
      }

      .text {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        @include media("<=phones-2x") { /* <=768 */
          grid-row: 4 / 5;
          grid-column: 1 / 2;
        }
      }

    }

    .why-it-matters-content {
      display: grid;

      grid-gap: 1em;
      grid-template-rows: auto;
      grid-template-columns: 1.4fr 1fr;

      padding-bottom: 3em;

      @include media("<=phones-2x") { /* <=768 */
        grid-template-columns: 1fr;
      }

      img.map {
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        z-index: 0;
        margin-top: 10px;
        margin-left: 0px;
      }

      .help-content {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        @include media("<=phones-2x") { /* <=768 */
          grid-row: 2 / 3;
          grid-column: 1 / 2;
          padding: 1.5em;
        }
      }

      .text {
        grid-row: 2 / 3;
        grid-column:  1 / 3;

        padding: 0 5em;

        @include media("<=phones-2x") { /* <=768 */
          grid-row: 3 / 4;
          grid-column: 1 / 2;
          padding: 0 1em;
        }

        h3 {
          font-size: 1.3em;
        }

        .heading-underline {
          background-color: #89d8de;
          width: 35px;
          height: 4px;
          margin: 8px 0 1em 0;
        }

        p {
        }
      }

      .help-content {
        padding-top: 5em;

        h3 {
          color: #000;
          font-size: 1.3em;
          font-weight: 600;
          margin-bottom: 1em;
        }

        .location-list {
          list-style: none;
          margin-top: .5em;
          padding: 0;

          li {
            margin-bottom: 1em;

            strong {
              font-size: 2.5em;
              font-weight: 500;
            }

            span {
              display: block;
              color: #aaa;
              font-size: 1.1em;
              font-weight: 500;
              line-height: 1;
              margin-left: 3px;
            }
          }

          li::before {
            content: "\2022";
            display: inline-block;
            font-size: 2em;
            font-weight: 600;
            margin-left: -1em;
            width: 1em;
          }
          
          .location-1 {
            color: #60c37c;
          }

          .location-2 {
            color: #539def;
          }

          .location-3 {
            color: #df618d;
          }
            
        }
      }
      
    }

    .assets-content {
      display: grid;

      grid-gap: 2.5em 1.5em;
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));

      @include media("<=phones") { /* <=640 */
        grid-template-columns: auto;
      }

      padding: 2em;
    }

    .add-asset {
      border: 1px dashed #cecece;
      color: #adadad;
      text-align: center;

      border-radius: 1.2em;

      min-height: 248px;

      position: relative;

      .add-icon {
        position: absolute;
        top: 40%;
        left: 45%;
        font-size: 2em;
      }

      h3 {
        color: #adadad;
        font-size: 1.2em;
        font-weight: 600;
        position: absolute;
        left: 0;
        right: 0;
        top: 60%;
      }

      p {
        color: #c7c7c7;
        font-size: .9em;
        font-weight: 500;
        text-align: center;
        padding: 0 25%;
        position: absolute;
        left: 0;
        right: 0;
        top: 75%;
      }
    }


    .funding {
      grid-row: 1 / 2;
      grid-column: 2 / 3;

      @include media("<=phones-2x") { /* <=768 */
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }

      background-color: #fff;

      box-shadow: -15px 0 30px 0 rgba(200, 215, 232, 0.4);

      .title {
        background-color: #bde5de;
        color: #fff;
        font-size: 1.2em;
        font-weight: 600;
        padding: 1.2em 0 1.5em;
        text-align: center;
        text-transform: uppercase;
      }

      h4 {
        color: #cacaca;
        font-size: 1.2em;
        font-weight: 600;
        margin: .5em 0 0;
        text-align: center;
        text-transform: uppercase;
      }

      .raised-value {
        color: #60c37c;
        font-size: 3em;
        font-weight: 400;
        text-align: center;
        line-height: 1;
        margin-bottom: 1.5em;
      }

      .funding-content {
        padding: 2em 3em;
        text-align: center;
      }

      .funding-list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          background: url(../img/ico/green_dollar.png) no-repeat left 5px;
          line-height: 1;
          margin-bottom: 2em; 
          padding-left: 44px;
          text-align: left;

          strong {
            color: #585858;
            display: block;
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 6px;
          }

          span {
            color: #a3a3a3;
            font-size: .8em;
            font-weight: 500;
          }
        }
      }

      .show-more {
        display: block;
        color: #a3a3a3;
        font-size: .9em;
        font-weight: 500;
        text-align: center;
      }

      .action-fund-idea {
        background-color: #fff;
        border: 2px solid #52bda1;
        color: #52bda1;
        margin: 2em auto 0;
      }
    }

  }


  .idea-comments {
    
    h3 {
      color: #8a8d8f;
      font-size: 1.2em;
      font-weight: 600;
      text-transform: uppercase;
      margin: 2em 0 2em 2.5em;
    }

    .idea-comment-box {
      display: grid;

      grid-gap: 0 2em;

      grid-template-rows: auto auto auto auto;
      grid-template-columns: 170px auto;

      padding: 1em 3em;

      @include media("<=phones") { /* <=640 */
        grid-template-rows: auto;
        grid-template-columns: auto;
        padding: 1em;
      }


      img {
        grid-row: 1 / 5;
        grid-column: 1 / 2;
        @include media("<=phones") { /* <=640 */
          grid-row: 2 / 3;
          margin: 1em auto;
        }

        align-self: center;
      }

      h4 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        @include media("<=phones") { /* <=640 */
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          text-align: center;
        }

        color: #000;

        font-size: 1.5em;
        font-weight: 600;

        margin: 0 0 5px 0;
      }
      .title {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        @include media("<=phones") { /* <=640 */
          grid-row: 3 / 4;
          grid-column: 1 / 2;
          text-align: center;
        }

        color: #adadad;

        font-size: 1.1em;
        font-weight: 500;
      }
      .description {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        @include media("<=phones") { /* <=640 */
          grid-row: 4 / 5;
          grid-column: 1 / 2;
        }

        color: #575757;

        font-size: 1em;
        font-weight: 400;

        margin-top: 1.5em;
      }
      .reply {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        @include media("<=phones") { /* <=640 */
          grid-row: 5 / 6;
          grid-column: 1 / 2;
          padding: 1em 0;
        }

        color: #5aa7d7;

        font-size: 1.1em;
        font-weight: 500;
        
        text-align: right;
      }
    }

    .idea-comment-topic-box {

      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      margin-top: 15em;

      padding: 2em 3em 1em;

      @include media("<=phones") { /* <=640 */
        flex-direction: column;
        padding: 1em;
      }

      .description {
        flex-basis: 90%;
      }

      .reply {
        flex-basis: 10;
        color: #5aa7d7;

        font-size: 1.1em;
        font-weight: 500;
        
        text-align: right;
      }
    }
  }
}
