
/* The styles for the content of a single idea. */
.idea {
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 10px 60px 0px rgba(208, 218, 239, 0.9);

  display: grid;
  grid-gap: 0;
  grid-template-rows: [header] auto [description] auto [numbers] auto [buttons] auto [rows-end];
  grid-template-columns: [image] 1fr [content] 1.8fr [cols-end];

  padding: 2.3em 2.2em 2.4em 1.5em;
  margin-bottom: 80px;

  @include media(">tablets") { /* >1600 */
    grid-template-columns: [image] 1fr [content] 2fr [cols-end];
    padding: 2.4em 2.4em 2.4em 1.8em;
  }

  @include media("<=tablets") { /* <=1600 */
    grid-template-columns: [image] 1fr [content] 2fr [cols-end];
    padding: 1.5em 1.5em 2em 1.2em;
    margin-bottom: 60px;
  }
  @include media("<=desktop") { /* <=1366 */
    grid-template-columns: [image] 1fr [content] 2.4fr [cols-end];
    padding: 1em 1em 1.5em 1em;
    margin-bottom: 60px;
  }
  @include media("<=desktop-old") { /* 1024 */
    grid-template-columns: [image] 1fr [content] 3fr [cols-end];
    padding: 1em 1em 1.5em 1em;
    margin-bottom: 40px;
  }
  @include media("<=phones-2x") { /* <=768 */
  }
  @include media("<=phones") { /* <=640 */
    grid-template-rows: [header] auto [image] auto [description] auto [numbers] auto [buttons] auto [rows-end];
    grid-template-columns: [content] auto [cols-end];
    padding: 10px;
  }

  .idea-img {
    grid-row: header / rows-end;
    grid-column: image;

    @include media("<=phones") { /* <=640 */
      grid-row: image / description;
      grid-column: content;
    }
  }

  header {
    grid-row: header / description;
    grid-column: content / cols-end;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media("<=phones") { /* <=640 */
      grid-row: header / image;
      align-items: flex-start;
    }

    h3 {
      color: #000;
      font-size: 1.6em;
      font-weight: 600;
      letter-spacing: 0;
      margin: 0;

      @include media("<=desktop-old") { /* <=1024 */
        font-size: 1.5em;
        font-weight: 500;
      }
      @include media("<=phones") { /* <=640 */
        font-size: 1.4em;
        font-weight: 500;
        overflow-wrap: break-word;
        line-height: 1.2em;
      }
    }

    .header-dot {
      color: #dad7f0;
      display: inline-block;
      font-weight: 600;
      margin: 0 5px;
    }

    .idea-type {
      color: #c2c2c2;
      font-size: .7em;
      font-weight: 600;
    }

    .action-vetted {
      background-color: #eff1f3;
      color: #205759;
      font-size: 1.2em;
      font-weight: 600;
      padding: .3em 2.3em .6em 1.8em;
      line-height: 100%;
      margin-right: 0;

      @include media("<=desktop-old") { /* <=1024 */
        font-size: 1em;
        padding: .3em 1em .6em 1em;
      }
      @include media("<=phones") { /* <=640 */
        margin-top: 5px;
        padding: .3em .75em .6em .75em;
      }

      img {
        display: inline-block;
        margin-right: 0px;
        @include media("<=phones") { /* <=640 */
          display: none;
        }
      }
    }
  }

  .description {
    margin-top: .75em;
    padding-right: 20%;

    @include media("<=desktop-old") { /* <=1024 */
      padding-right: 0;
    }
    @include media("<=phones") { /* <=640 */
      margin-top: 0;
    }

    p {
      color: #989898;
      font-size: .9em;
      font-weight: 400;
    }
  }


  .numbers {
    display: flex;
    align-items: center;
    padding-left: 3px;
    padding-top: 8px;

    @include media("<=phones") { /* <=640 */
      margin-top: 10px;
      flex-wrap: wrap;
    }

    .circle {
      border: 1px solid #e0e5e9;
      border-radius: 50%;
      width: 7.4em;
      height: 7.4em;
      text-align: center;
      padding: .8em 1em .9em;
      margin-right: 3%;

      @include media(">=desktop") { /* >= 1366 */
        margin-right: 4%;
      }
      @include media("<=phones") { /* <=640 */
        padding: 6px;
        width: 6.6em;
        height: 6.6em;
        flex-basis: 30%;
      }

      strong {
        font-size: 1.9em;
        line-height: 1.2em;
        font-weight: 700;
        display: block;
        margin-top: .15em;
        margin-bottom: .1em;
      }

      span {
        color: #b8b8b8;
        display: inline-block;
        font-size: .65em;
        text-transform: uppercase;
      }
    }

    .separator {
      border: 2px solid #e0e6e6;
      border-width: 0 0 0 1px;
      height: 5em;
      margin-right: 3%;
      @include media(">=desktop") { /* >= 1366 */
        margin-right: 4%;
      }
      @include media("<=phones") { /* <=640 */
        display: none;
      }
    }

    .map-img {
      margin-right: 3%;
      @include media(">=desktop") { /* >= 1366 */
        margin-right: 4%;
      }
      @include media("<=phones") { /* <=640 */
        margin-left: 30px;
        margin-right: 30px;
      }
    }

    .details {
      padding-left: 5px;

      @include media("<=desktop-old") { /* <=1024 */
        margin-top: .5em;
      }

      dt {
        color: #c2c2c2;
        font-size: .8em;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0;
        line-height: 1.2em;
      }

      dd {
        color: #474747;
        margin: 0 0 .4em;
        font-size: .9em;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.2em;
      }
    }
  } 

  .actions {
    margin-top: .75em;
    padding-left: 9px;

    .button {
      @include media("<=phones") { /* <=640 */
        margin-bottom: 1em;
      }
    }
  }

}

.numbers-impacted {
  strong {
    color: #60c37c;
  }
}

.numbers-pledged {
  strong {
    color: #5aa7d7;
  }
}

.numbers-competing {
  strong {
    color: #6a60c3;
  }
}


.button {
  border: 0;
  border-radius: 1.5em;
  font-size: 1em;
  font-weight: 600;
  margin-right: 1.3em;
  padding: .5em 2.3em .8em;
}

.button-shadow {
  box-shadow: 0 6px 12px 4px rgba(200, 215, 232, 0.9);
}

.action-pledge {
  color: #fff;
  background-color: #46b3ba;
  border: 2px solid #46b3ba;
}

.action-compete {
  color: #fff;
  background-color: #2d5759;
  border: 2px solid #2d5759;
  padding: .5em 1.8em .8em;
}

.action-view {
  background-color: #fff;
  border: 2px solid #9cb4b5;
  color: #9cb4b5;
  padding: .5em 2.8em .8em;
}
