/* The styles for a single team details page. */

.team-member {

  margin-bottom: 4em;

  .content-box {
    margin-bottom: 4em;
  }

  h3 {
    color: #000;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 2em;
    @include media("<=phones-2x") { /* <=768 */
      margin-top: 2em;
    }
    @include media("<=phones") { /* <=640 */
      margin-top: 0;
    }

    span {
      color: #b8bbbd;
      font-size: .7em;
      font-weight: 500;
      display: inline-block;
      margin-left: 8px;
    }
  }

  .team-info {
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: [logo] 1fr [content] 2fr [image] 1.5fr [cols-end];

    padding: 3em 2em;

    @include media("<=phones-2x") { /* <=768 */
      grid-template-columns: [logo] 1fr [content] 2fr [cols-end];
    }
    @include media("<=phones") { /* <=640 */
      grid-template-columns: [logo] auto [content];
    }

    .logo {
      grid-column: logo / content;
      justify-self: center;
      align-self: center;
      margin-right: 1em;
    }

    h2 {
      color: #000;
      font-size: 1.8em;
      font-weight: 600;
      margin-bottom: 1em;
    }

    .description {
      grid-column: content / image;
      @include media("<=phones-2x") { /* <=768 */
        grid-column: content / cols-end;
      }
      @include media("<=phones") { /* <=640 */
        grid-column: logo / content;
      }

      p {
        color: #a3a3a3;
        font-size: 1em;
        font-weight: 400;
      }
    }

    .hero {
      grid-column: image / cols-end;
      justify-self: center;
      align-self: center;

      @include media("<=phones-2x") { /* <=768 */
        grid-column: image / content;
      }
      @include media("<=phones") { /* <=640 */
        grid-column: logo / content;
      }
    }
  }

  .team-members {
    
    padding: 2em;
    @include media("<=phones") { /* <=640 */
      padding: 1em;
      margin-bottom: 2em;
    }

    .members-list {
      display: grid;

      grid-gap: 2em;
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      @include media("<=phones-2x") { /* <=768 */
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      }

      .member {
        text-align: center;
        margin-right: 60px;
        @include media("<=phones-2x") { /* <=768 */
          margin-right: 20px;
        }

        h4 {
          color: #000;
          font-size: 1.2em;
          font-weight: 500;
          margin-bottom: 0;
        }

        span {
          color: #c0c3c6;
          font-size: .9em;
          font-weight: 500;
          line-height: 1em;
          margin-top: -5px;
        }
      }
    }
  }

  .achievements-list {
    display: grid;

    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    @include media("<=phones-2x") { /* <=768 */
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    @include media("<=phones") { /* <=640 */
      padding: 1em;
    }

    .achievement {
      text-align: center;
      margin-right: 80px;
      @include media("<=phones-2x") { /* <=768 */
        margin-right: 80px;
        margin-top: 40px;
      }
      @include media("<=phones") { /* <=640 */
        margin: 1em auto;
      }

      h4 {
        color: #000;
        font-size: 1.2em;
        font-weight: 600;
        margin: 1em 3em .4em;
        line-height: 1.2;
        @include media("<=phones-2x") { /* <=768 */
          margin: 1em 0 .4em;
        }
      }

      span {
        color: #c0c3c6;
        font-size: 1em;
        font-weight: 600;
        line-height: 1em;
      }
    }
  }
}

.focus-areas {

  margin-top: 2em;
  @include media("<=phones") { /* <=640 */
    padding: 1em;
    margin-top: 1em;
  }

  .focus-areas-list {
    
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .profile-tag {
      
      display: flex;
      align-items: center;

      border: 2px solid #9ea0a2;
      border-radius: 2.4em;

      color: #9ea0a2;

      font-weight: 600;

      margin-bottom: 2em;
      margin-right: 2em;

      padding: .65em 1.5em .8em;

      width: auto;

      img {
        margin-right: 8px;
        margin-top: 3px;
      }
    }

    .profile-tag-add {
      border: 2px dashed #a3a3a3;
    }
  }
}
